<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bgs.ssm.mapper.UserMapper">

    <select id="LoginPro" resultType="user">
        select * from user where user_phone=#{userPhone} and user_password=#{userPassword}
    </select>


    <select id="LoginTree" resultType="relation">
        select p.permission_id permissionId,p.permission_name permissionName,
        p.permisson_url permissonUrl,permission_pid permissionPid
        from relation re inner join role ro inner join permission p
        on re.role_id=ro.role_id
        and re.permission_id=p.permission_id
        where re.role_id=#{id}
    </select>


    <select id="getCode" resultType="user">
        select * from user where user_phone=#{userPhone}
    </select>


    <select id="PhoneLogin" resultType="user">
        select * from user where user_phone=#{userPhone}
    </select>


    <select id="DepartmentNode" resultType="RelationCompDept">
        SELECT * FROM relationcompdept r
        INNER JOIN department d
        INNER JOIN company c ON
        r.re_deptId=d.department_id AND
        c.depart_id=d.department_id
        WHERE r.re_roleId=#{id}
    </select>

</mapper>